In [15]:
fullname = 'ansarvali mohammed'
print(fullname)

# below are upper lower title capitalize examples
print(fullname.title())
print(fullname.capitalize())
print(fullname.upper())
print(fullname.upper().lower())
print(fullname.lower().upper())
fullname1 = fullname.upper()
print(fullname1)
print(fullname1.lower())

firstname ='ansar'
lastname = 'mohammed'

# below f string example
fullname2 = f"fullname is {firstname} {lastname}"
print(fullname2)

#below \n \t examples
print("fav language is : pythoncjavacobol")
print("fav language is : \npython\nc\njava\ncobol")
print("fav language is : \n\tpython\n\tc\n\tjava\n\tcobol")


#below strip examples

name1 = 'seetharam    '
name2 = '    radhakrishna'
name3 = '  naveen  '
print(name1)
print(name1.rstrip())
print(name2)
print(name2.lstrip())
print(name3)
print(name3.strip())

ansarvali mohammed
Ansarvali Mohammed
Ansarvali mohammed
ANSARVALI MOHAMMED
ansarvali mohammed
ANSARVALI MOHAMMED
ANSARVALI MOHAMMED
ansarvali mohammed
fullname is ansar mohammed
fav language is : pythoncjavacobol
fav language is :
python
c
java
cobol
fav language is :
	python
	c
	java
	cobol
seetharam
seetharam
    radhakrishna
radhakrishna
  naveen
naveen